<h1>Invoice History for <%= @project.name%></h1>
<div class="container-fluid">
  <div id="ui-view" data-select2-id="ui-view">
    <div>
      <div class="card">
        <div class="card-header">Invoice
          <strong><%=@project.name%></strong>
          <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-abc="true">
            <i class="bi bi-printer"></i> Print</a>
        </div>
        <div class="card-body">

          <%= render partial: 'client_details', locals: {project: @project, start_date: nil, end_date: nil}%>

          <div class="table-responsive-sm">
            <%if @invoices.blank?%>
              <div class="text-center">
                No Records found, Create a
                <%= link_to new_project_invoice_path(@project), class: "btn btn-sm btn-primary" do%>
                  <i class="bi bi-clipboard-data"></i> New
                <%end%> Invoice
            <%else%>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>From - To</th>
                    <th>Logged hours</th>
                    <th>Total Billed Amount</th>
                    <th>Paid Amount</th>
                    <!-- <th>Payment Ref</th> -->
                    <th>Remark</th>
                    <th><i class="bi bi-trash"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <% @invoices.each do |invoice| %>
                    <tr>
                      <td><%= link_to invoice.invoice_id, project_invoice_path(@project, invoice)%></td>
                      <td><%= invoice.start_date.strftime(STD_DATE_FORMAT) %> to <%= invoice.end_date.strftime(STD_DATE_FORMAT)%></td>
                      <td class="center"><%= invoice.total_hours%></td>
                      <td class="right"><%= number_to_currency(invoice.total_amount)%></td>
                      <td class="right">
                        <%= number_to_currency(invoice.paid_amount)%>
                        <%if invoice.paid?%>
                          <strong class="btn btn-sm btn-success"><i class="bi bi-check2-all"></i> <%= invoice.status%></strong>
                        <%else%>
                          <%= invoice.status%>
                        <%end%>
                      </td>
                      <!-- <td class="center"><%= invoice.payment_reference%></td> -->
                      <td class="center"><%= invoice.sales_remark%></td>
                      <td>
                        <%= link_to project_invoice_path(@project, invoice), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="bi bi-trash-fill"></i>
                        <%end%>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
