<h1><%= @project.name%> Team Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th scope="col">Name</th>
      <th scope="col">Weekly Allocation (in hrs)</th>
      <th scope="col">Role</th>
      <th scope="col">Start at</th>
      <th scope="col">End at</th>
      <th scope="col">Edit Allocation</th>
      <!-- <th scope="col">TimeSheet</th> -->
    </tr>
  </thead>

  <tbody>
    <% @employee_projects.each do |ep| %>
      <%emp = ep.employee%>
      <tr>
        <td><%= ep.id %></td>
        <td>
          <%= emp.name%>&nbsp;|&nbsp;<small><%= emp.skills.map(&:title).join(", ")%></small><br/>
          <small class="">
            Dev Skill <%=emp.development_skill%><i class="bi bi-award-fill"></i>&nbsp;|&nbsp;
            Client Management <%=emp.client_management_skill%><i class="bi bi-award-fill"></i>&nbsp;|&nbsp;
            Mentorship <%=emp.mentorship_skill%><i class="bi bi-award-fill"></i>
          </small>
        </td>
        <td><%= ep.weekly_occupancy%> hrs</td>
        <td><%= ep.role%></td>
        <td><%= ep.start_at.try(:strftime, STD_DATE_FORMAT)%></td>
        <td><%= ep.ended_on.try(:strftime, STD_DATE_FORMAT)%></td>
        <td><%= link_to 'Update Allocation', edit_project_employee_project_path(@project, ep) %></td>
        <!-- <td>
          <%#= link_to employee_timesheets_path(ep) do %>
            <i class="bi bi-calendar-date-fill"></i> Timesheet
          <%#end%>
        </td> -->
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_project_employee_project_path(@project) %> |
